body {
    line-height: 1;
}

body{
    margin:0 auto;
    width: 600px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans KR', serif;
    font-weight: 700;
    text-align: left;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 15px;
}

h6{
    font-size: 10px;
}

p{
    font-family: 'Noto Sans KR', serif;
    font-weight: 500;
    font-size: 17px;
    text-align: left;
}

strong{
    color: #409D00;
    font-weight: 700;
}

a{
    color: #00939d;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color: #9d9300;
}

img{
    width: 70%;
    height: auto;
}