<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}} 일기 내용</title>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <h1>제목: {{title}}</h1>
        </div>
		<hr>
        <div class="page-body">
			<div id="date&feeling">
				<h4><strong>{{date}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;오늘의 기분: <strong>{{feeling}}</strong></h4>
			</div>
			<hr>
			<div id="image">
				<img src = {{url_for("static", filename = photo)}} >
			</div>
			<hr>
			<div id="contents">
				<h4>본문</h4>
				<p>{{contents}}</p>
			</div>
			<hr>
        </div>
    </body>
</html>