<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
  <div class="header">
    <h1>오늘의 기분 일기</h1>
  </div>
  <hr>
  <div class="header">
    <h2>로그인 하기</h2>
    <p>이 사이트는 오직 스마클 부원들에게만 제공되는 서비스입니다.</p>
  </div>
  {% if login == True %}
  <h3> 로그인에 성공했습니다. {{username}}님 어서오세요!</h3>
  <a href={{ url_for("main") }} >홈 화면으로 이동하기</a>
  <a href = {{ url_for("logout") }}>로그아웃</a>

  {%else %}
  <form methods="get" id="login" action={{url_for("login")}}>
      <input type="id" id="loginId" name="loginId" placeholder="ID">
      <input type="password" id="loginPw" name="loginPw" placeholder="Password">
      <button type="submit" class="login">로그인</button>
  </form>
  {%endif%}
</body>
</html>

